@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    }
    .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
    }
    @keyframes lds-facebook {
    0% {
    top: 8px;
    height: 64px;
    }
    50%, 100% {
    top: 24px;
    height: 32px;
    }
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
/*Размер страницы */
body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
/*Стили тега body*/
body {
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

img[src='']{
    display: none;
}
img{
    max-height: 250px;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

/*Шапка сайта*/
header {
    width: 100%;
    padding: 5px 0.5% 0px 0.5%;
    background: rgb(10, 78, 78);
    float: left;
    position: fixed;
}

header #logo {
   color:#fff ;
    cursor: pointer;
    
}

header #logo a{
   
    font-size: 1.8em;
    line-height: 40px;
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    color: #fff;
}

header #logo > a:hover{
    color:#3a9793 ;
    text-decoration: underline;

}

@media (min-width: 701px) {
  #logo {
      float: left;
      width: 50%;
      font-size: 1.05em;

  }
  #about {
      float: right;
      width: 40%;
  }
}
@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        text-align: center;
        width: 100%;
        font-size: 1.2em;
        
    }
    #about {
     float: left;
        width: 100%;
    }
}

@media (max-width: 430px) {
    #logo {
        margin-top: 15px;
        text-align: center;
        width: 100%;
        font-size: 1.2em;
        
    }
    #about {
     float: left;
        width: 100%;
    }
}


#about {
    text-align: center;
    font-size: 1.15em;
    line-height: 40px;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
}
#about > a {color: #fff;}
#about > a:hover {
    color:#3a9793 ;
    text-decoration: underline;
    
}
#about > a:not(:last-child) {
margin-right: 5%;
}
/*Стили для фиксированной шапки*/
.fixed {
    z-index: 5000;
    background-color: black;
    border-bottom: 2px solid black;
}
header.fixed #logo {
    color:#343434;
}
.fixed #about a {color: #343434}

/*Главный блок на сайте*/
#top {
width: 100%;
height: 800px;
background-image: url("../img/base_background.jpg");
background-blend-mode: multiply;
background-color: rgb(35, 49, 49);
background-size: cover;
text-align: center;
color: white;
font-size: 1.85em;
font-family: 'Spicy Rice', cursive;
}
@media (min-width: 1001px){
    #top{
        font-size: 1.85em;
        
    }
}
@media (max-width: 1000px) and (min-width: 850px){
    #top{
        padding-top: 6%;
        font-size: 1.6em;
    }
}
@media (max-width: 850px){
    #top{
        font-size: 1.25em;
        padding-top: 12%;
    }
}

@media (max-width: 530px){
    #top{
        font-size: 1.25em;
        padding-top: 26%;
    }
}
@media (max-width: 426px){
    #top{
        font-size: 1.25em;
        padding-top: 37%;
    }
}

#top h2{
    padding-top: 9%;
    color:#fff ;
}

/*Блок с возможностями*/
#main {
    padding:100px 20%;
    width: 100%;
    float: left;
    background-color: #f3f6f7;
    border-top: 2px solid rgb(0, 0, 0);
    color: #343434;
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1401px) {
    #main {
      padding: 100px 20%;
    }
}
  
@media (max-width: 1400px) {
    #main {
      padding: 100px 10%;
    }
}
  
@media (max-width: 700px) {
    #main div {
      width: 98%!important;
      margin-bottom: 20px;
    }
}

#main div {
    width: 48%;
    margin-right: 2%;
    float: left;
}

#main h3{
    font-size: 1.95em;
}
#main span{font-size: 1.1em; color: #6b5050; 
    font-family: 'Spicy Rice', cursive;
}

/*Блок контакты*/
#contacts {
    padding: 70px 40px;
    width: 100%;
    float: left;
    padding-bottom: 40px;
    padding-top: 70px;
    border-top: 4px solid #ccc;
    background:#58ebeb ;
}
#contacts h5 {
    font-size: 2.5em;
}

h2, h3 ,h5 {
    font-family: 'Spicy Rice', cursive;
    font-weight: lighter;
}

#form_input {
    margin-top: 15px;
    width: 100%;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_input > .wrapper{
    max-width: 600px;
    width: 100%;
}

#form_input label {
    color: black;
    cursor: pointer;
    font-size: 1.4em;
    font-family: 'Spicy Rice', cursive;
}

#form_input label>span {
    color: #e87e7e;
}
#form_input input, #form_input textarea{
    font-family: 'Spicy Rice', cursive;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 2%;
    border: 2px solid rgba(0, 0, 0, 0.753);
    border-radius: 8px;
    font-size: 0.9em;
    color: #484848
}
 #form_input button {
    float: left;
    border-radius: 5px;
    padding: 5px 6px;
    font-size: 1.2em;
    background-color:#28A0E0 ;
    text-shadow: #454545 0 0 2px;
    cursor: pointer;
    color: white;
    font-family: 'Spicy Rice', cursive; 
     
}

/*#form_input button:hover {//
    background-color: rgb(0, 121, 187);
}*/

#form_input input:focus, #form_input textarea:focus{
border-color:black ;
}

#faq {
    background-color: #DFEDF4;
    width: 100%;
    float: left;
    border-top: 3px solid black;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: 'Spicy Rice', cursive;
    color: black;
}

#faq > .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#faq h6{
    font-size: 2.2em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
#faq .wrapper div {
    width: 25%;
    float: left;
    min-width: 300px;
    margin: 20px;
    max-width: 500px;
}
#faq .title {
    font-weight: lighter;
    font-size: 1.35em;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#faq p {
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 20px;
font-size: 0.9em;
}
