<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <style>
        a {
            text-decoration: none;
            /* Отменяем подчеркивание у ссылки */
        }
    </style>
    <title>Поиск плагиата</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        function slowScroll(id) {
            $('html, body').animate({
                scrollTop: $(id).offset().top
            }, 50000);

            $(document).on("scroll", function () {
                if ($(window).scrollTop() === 0)
                    $("header").removeClass("fixed");
                else
                    $("header").attr("class", "fixed");
            });
    </script>
</head>

<body>
    <header>
        <div id="logo" onclick="slowScroll('#top')">
            <a href="#top" title="Anti-plagiarism paintings" onclick="slowScroll('#top')">Anti-plagiarism paintings</a>

        </div>
        <div id="about">
            <a href="#main" title="Описание системы" onclick="slowScroll('#main')">Описание системы</a>
           <!-- <a href="#contacts" title="Контакты" onclick="slowScroll('#contact')">Контакты</a>
            <a href="#faq" title="FAQ" onclick="slowScroll('#faq')">FAQ</a>-->
        </div>
    </header>
    <div id="top">
        <h2>Система распознания картин на подлиность</h2>
        {% block content %} {% endblock content %}
    </div>

    </div>
    <div id="main">
        <div class="intro">
            <h3>Описание системы созданной при помощи нейронной сети: </h3>
        </div>
        <div class="text">
           <span>Для проверки изображения: система получает изображение, оно сжимается до 299 на 299 пикселей и
                подаётся на вход нейронной сети, откуда получается вектор массив из 131072 чисел float.
                Потом начинает скачивать блоками данные из базы данных и искать среди них ближайших.
                Когда все данные будут проверены, на выходе останется массив с 10 (или другое число) похожими картинами,
                которые уже передаются на сайт.
                Для хранения изображения: от пользователя система получает изображение,
                оно сжимается до 299 на 299 пикселей и подаётся на вход нейронной сети,
                откуда получается вектор массив из 131072 чисел float.
                Потом изображение отправляется на imgur.com, откуда получается id изображения.
                Теперь есть id и вектор(массив). Это отправляется в БД!</span>
        </div>

    </div>

   <!-- <div id="contacts">
        <center>
            <h5>Обратная связь</h5>
        </center>
        <form id="form_input" action="" method="">
            <div class="wrapper">
                <label for="name">Имя: <span>*</span></label><br>
                <input type="text" placeholder="Введите имя: " name="name" id="name"><br>
                <label for="email">Адрес электронной почты: <span>*</span></label><br>
                <input type="email" placeholder="Введите email: " name="email" id="email"><br>
                <label for="message">Сообщение: <span>*</span></label><br>
                <textarea placeholder="Введите ваше сообщение: " name="message" id="message"></textarea><br>
                
                <button type="submit">Отправить</button>
                <div id="mess_send" class="btn">Отправить </div>
            </div>
        </form>
    </div>
    <div id="faq">

        <h6>Frequently Asked Questions</h6>
        <div class="wrapper">
            <div>
                <span class="title">Когда работы над сайтом будут завершены?</span>
                <p>Мы прилагаем все усилия, чтобы добавить как можно больше контента. Мы не едим и не спим уже очень
                    давно,
                    мы забыли лица некоторых членов нашей семьи, но не волнуйтесь, скоро все будет готово.</p>
            </div>
            <div><span class="title">Могу ли я обратиться к вам по поводу рекламы?</span>
                <p>Мы еще не до конца запустили процесс рекламного взаимодействия, но мы постоянно находимся в поиске
                    партнеров.
                    Отправьте нам письмо по электронной почте со страницы “Обратная связь”.</p>
            </div>
            <div><span class="title">Кто ваши разработчики?</span>
                <p>Наши разработчики – это студенты Моковского Политехнического университета.
                    Они молоды и добились определенных успехов в веб-пространстве и в обучении нейронных сетей.</p>
            </div>
        </div>


    </div>-->

</body>

</html>