{% extends "process_app/base.html" %}
{% block content %}
        <script type="text/javascript">
            function renderImage(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#render').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]); // convert to base64 string
                }
            }
        </script>
        <script type="text/javascript">
            async function sendImage(form) {
                event.preventDefault();
                const scriptURL = "";

                var loading = document.createElement('div')
                loading.classList.add('lds-facebook');
                loading.innerHTML = "<div></div><div></div><div></div>"
                document.getElementById('top').appendChild(loading);
                //alert("Изображение отправлено на проверку");

                let response = await fetch(scriptURL, {
                    method: 'POST',
                    body: new FormData(form)
                })

                let result = await response.json();
                document.getElementById('result').innerHTML = result.message; //сервер должен вернуть ответ в формате "{message:'Ваше изображение - фейк'}"

                document.getElementById('top').querySelector('lds-facebook').remove()
            }
        </script>

        <form id="upload_image_form" method="post" enctype="multipart/form-data"
                action="{% url 'process_app:upload_image' %}" onsubmit="sendImage(this)">
            {% csrf_token %}
            <p>Загрузите картину в формате JPEG, PNG</p>
            <p>
                <input type="file" name="img" accept="image/*" onchange="renderImage(this)">
                <input type="submit" value="Отправить на проверку">
            </p>
        </form>
        <img id='render' src="" alt='Изображение'>
        <div id='result'></div>

{% endblock content %}