{% extends "search_plagiarism/base.html" %}
{% block content %}

        <script  type="text/javascript"
                 src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>

        <script  type="text/javascript">
            // Отображение загруженного изображения
            function renderImage(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#render').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]); // convert to base64 string
                }
            }
        </script>

        <script  language="JavaScript">
            // Обработка нажатия на кнопку
            var flag = false;

            $("document").ready(function () {
                // проверка расширения файла при выборе файла
                $('#image_input').on('change', () => {
                    document.getElementById('result').innerHTML = "";
                    var exp = $('#image_input').val().split('.').pop().toString();
                    if (!(exp == 'png' || exp == 'jpg')) {
                        document.getElementById('result').innerHTML = "Ошибка!" + '<br />' +
                                                        "Выберите изображения .jpg или .png";
                    }
                    else {
                        flag = true;
                    }
                });

                $('#upload_image_form').on('submit', () => {
                    const $files = $('#image_input').get(0).files

                    if ($files.length) {
                        // Reject big files
                        if ($files[0].size > $(this).data("max-size") * 1024) {
                            flag = false
                        }
                        // если все условия соблюдены, анимация отображается
                        if (flag) {
                            // Анимация загрузки
                            var loading = document.createElement('div');
                            loading.classList.add('lds-facebook');
                            loading.innerHTML = "<div></div><div></div><div></div>";
                            document.getElementById('top').appendChild(loading);
                        }
                    }
                    else {
                        flag = false;
                    }
                });
            });
            // если все условия соблюдены, файл загружается
            function boolFunction() {
                if (flag) return true;
                else return false;
            }

        </script>

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

        <form id="upload_image_form" method="post" enctype="multipart/form-data"
              onsubmit="return boolFunction();" action="{% url 'search_plagiarism:upload_image' %}"> {% csrf_token %}
            <p>Загрузите картину в формате JPEG, PNG</p>
            <p>Загрузите или перетащите картинку в формате JPEG, PNG</p>
            <p>
                <input id = "image_input" type="file" name="image"
                       accept="image/*" onchange="renderImage(this)">
                <input type="submit" value="Отправить на проверку" id="otpr">
            </p>
        </form>
        <img id='render' src="" >
        <div id='result'></div>
{% endblock content %}
