{% extends "search_plagiarism/base.html" %}
{% block content %}
<!--    <script  type="text/javascript"-->
<!--             src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">-->
<!--    </script>-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<!--    <script  language="JavaScript">-->
<!--        $("document").ready(function () {-->
<!--            $( "#start_form" ).submit(function(e) {-->
<!--                $('#load1').css("opacity", 1);-->
<!--            });-->
<!--        });-->
<!--    </script>-->


    <p>Изображение успешно загружено</p>
    <form id="start_form" method="post" enctype="multipart/form-data"
          action="{% url 'search_plagiarism:display' %}">{% csrf_token %}
        <input type="submit" id="otpr1" value="Начать поиск">
    </form>

    <div align="center" id='load1' style="opacity: 0">
        <lottie-player
            src="https://assets4.lottiefiles.com/private_files/lf30_H8JIIY.json"
            background="transparent"
            speed="1"
            style="width: 200px; height: 200px;"
            loop
            autoplay>
        </lottie-player>
    </div>


{% endblock content %}